{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Customer Representative</title>
</head>
<body>
<div class="container mt-4">
    <h2>Add Customer Representative</h2>
    <form method="post" action="{% url 'railway:add_customer_rep_form' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="ssn" class="form-label">SSN</label>
            <input type="number" class="form-control" id="ssn" name="ssn" placeholder="123456789" required>
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Add Representative</button>
    </form>
</div>
    
<div class="row">
    <a href="{% url 'railway:railway_admin' %}" class="btn btn-secondary mt-3">Return</a>
</div>

</body>
</html>
