{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Railway Booking - Admin</title>
        {% include 'railway/components/header.html' with selected="" %}
    </head>
    <body>
        {% include 'railway/components/ui_navbar.html' with selected="" %}

        <div class="container mt-4">

            <!-- Customer Representative Management -->
            <section class="mb-5">
                <h2>Manage Customer Representative Information</h2>
                
                 <!-- Add Customer -->   
                 <section class="mb-5">
                    <form method="get" action="{% url 'railway:add_customer_rep' %}">
                        <div class="button-container">
                            <div class="col-md-2 mb-3 d-flex align-items-end">
                                <a href="{% url 'railway:add_customer_rep' %}" class="btn btn-success w-100">Add Customer Representative</a>
                            </div>
                        </div>
                    </form>
                </section>

                <!-- Delete Customer -->
                <section class="mb-5">
                    <h2>Delete Customer Representative</h2>
                    <p>Enter Customer Representative SSN: </p>
                    <form method="get" action="{% url 'railway:delete_customer_rep' %}">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="SSN" name="SSN" placeholder="e.g. 123" required>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                <!-- Edit Customer -->
                <section class="mb-5">
                    <h2>Edit Customer Representative Information</h2>
                    <form method="POST" action="{% url 'railway:edit_customer_rep' %}">
                        {% csrf_token %}
                        <div class="mb-3 row">
                            <label for="SSN" class="col-sm-2 col-form-label">SSN</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="SSN" name="SSN" placeholder="e.g. 123" required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="e.g. John" required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="e.g. Doe" required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="username" class="col-sm-2 col-form-label">User Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="password" class="col-sm-2 col-form-label">Pass Word</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="password" name="password" placeholder="password" required>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="mb-3 row">
                            <div class="col-sm-10 offset-sm-2">
                                <button type="submit" class="btn btn-success">Edit</button>
                            </div>
                        </div>
                    </form>
                </section>


            <!-- Sales Reports -->
            <section class="mb-5">
                <h2>Sales Reports</h2>
                <form method="get" action="{% url 'railway:sales_report' %}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input 
                                    type="month" 
                                    class="form-control" 
                                    id="report_month" 
                                    name="month" 
                                    value="{{ selected_month }}" 
                                    required
                                >
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>


            <!-- List of Reservations by Transit Line -->
            <section class="mb-5">
                <h2>Reservations by Transit Line</h2>
                <p>Select Transit Line Name: </p>
                <form method="get" action="{% url 'railway:reservations_by_transit_line' %}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="transit_line_name" name="transit_line_name" placeholder="e.g. Blue Line" required>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <!-- List of Reservations by Customer Name -->
            <section class="mb-5">
                <h2>Reservations by Customer Name</h2>
                <p>Enter Customer Name: </p>
                <form method="get" action="{% url 'railway:reservations_by_customer' %}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="e.g. Alex Smith" required>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <!-- Revenue by Transit Line -->
            <section class="mb-5">
                <h2>Revenue by Transit Line</h2>
                <p>Enter Transit Line Name: </p>
                <form method="get" action="{% url 'railway:revenue_by_transit_line' %}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="transit_line_name" name="transit_line_name" placeholder="e.g. Blue Line">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <!-- Revenue by Customer -->
            <section class="mb-5">
                <h2>Revenue by Customer</h2>
                <p>Enter Customer Name: </p>
                <form method="get" action="{% url 'railway:revenue_by_customer' %}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="e.g. Alex Smith">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

            <!-- Best Customer -->
            <section class="mb-5">
                <h2>Best Customer</h2>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group">
                            <a href="{% url 'railway:best_customers' %}" class="btn btn-primary">See Best Customers</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Most Active Transit Lines -->
            <section class="mb-5">
                <h2>Top 5 Most Active Transit Lines</h2>
                <p>Select Month: </p>
                <form method="get" action="{% url 'railway:active_train_lines' %}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <input type="month" class="form-control" id="month" name="month" required>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

        </div>
    </body>
</html>
