<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ask a Question</title>
    {% include 'railway/components/header.html' with selected="home" %}
</head>
<body>
    {% include 'railway/components/ui_navbar.html' with selected="home" %}
    
    <!--Customer asks a question-->
    <div class="container my-5">
        <h1 class="text-center mb-4">Ask a Question</h1>
        <div class="form-container card shadow p-4 bg-white">
          {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endif %}
          
          <form method="POST" novalidate>
            {% csrf_token %}
            
            <div class="mb-3">
              <label for="questionInput" class="form-label fw-bold">Your Question</label>
              <input 
                type="text" 
                class="form-control" 
                id="questionInput" 
                name="question" 
                placeholder="Type your question here...(max 255)"
                required
              >
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </form>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'railway:home' %}" class="fw-bold text-primary">Back to Home</a>
    </div>

</body>
</html>
