<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Question Submitted</title>
    {% include 'railway/components/header.html' with selected="home" %}
</head>

<body>
    {% include 'railway/components/ui_navbar.html' with selected="home" %}

    <div class="container my-5">
        <div class="text-center">
          <h1 class="mb-4">Thank You!</h1>
          <p class="mb-4">Your question has been submitted successfully.</p>
          <a href="{% url 'railway:home' %}" class="btn btn-primary">Back to Home Page</a>
        </div>
    </div>

</body>
</html>
